server:
  port: 8080
kafka:
  servers: eis-kafka:29092
  groupId: METRICS
  consumer:
    offsetConfig: earliest
  topic:
    word_topic: word
    sentence_topic: sentence
spring:
  data:
    cassandra:
      cluster-name: eis-cluster
      port: 9042
      keyspace: sentence
      contact-points: eis-cassandra
      keyspace-name: eis-keyspace
      schema-action: create_if_not_exists
      connect-timeout: 10000ms